$top-bar-color: #fff;

html {
  height: 100%;
}

body {
  font-family: "minion-pro", sans-serif;
  height: 100%;
}


.full-width-background {
  background: url('../img/intro.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 680px;
}

/*header  {
  background-color: green;
}*/

// .article {
//   z-index: 1;
//   position: relative;
//   margin: 0 auto;
//   width: 64rem;
//   height: 100%;
// }
.outer-div {
  padding: 30px;
}
.logo {

  margin: auto;
  width: 100px;
  height: 100px;
  background: url('..img/logo.png');
}

/** Changes background color, height and margin of the border **/
.top-bar {
    background: none;
    height: 58px;
    line-height: 58px;
    margin-bottom: 0;
}
 
/** Removes black background on menu bar **/
.top-bar-section ul {
    background: none;
    text-transform: uppercase;
}
 
/** Removes black background on menu item **/
.top-bar-section li a:not(.button) {
    background: none;
    line-height: 58px;
    padding: 0 27px;
}
/*#wrapper {
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  position: relative;
}*/

/*#home {
  background-image: url(../img/intro.jpg);
}*/




