// $background-color: #0F201E;
// $text-color: #04ABCA;
// $body-font: "ff-enzo-web",sans-serif;
@import "settings";
$nav-bg: rgba(15, 32, 30, 0.6);
$border-accent: 10px solid rgba(250, 97, 84, 0.77);

html, body {
  height: 100%;
  min-height: 100%;
  // background: $background-color;
}

body {
  // font-family: $body-font;
}


.full-width-background {
  background: url('../img/red-flower.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 680px;
}

.fullscreen-img {
  display:block;
  z-index:1;
  min-width:100%;
  min-height:100%;
  background:transparent url('../img/red-flower.jpg') center center no-repeat;
  background-size: cover;
  border-bottom: 56px solid $nav-bg; 
}

.content-area {
  padding: 3%;
  border-top: $border-accent;
}

.logo-wrapper {
  padding: 5%;
}

.logo {

  margin: auto;
  width: 419px;
  height: 400px;
  background: url('../img/logo.png');
  background-size: 400px 400px;
  border: 2px solid white;
}

.hours-location {
  text-align: center;
  color: $body-font-color;
}

.hours-location p {
  font-size: 1.6em;
}
/** Changes background color, height and margin of the border **/

.main-nav {
  background: $nav-bg;
  border-bottom: $border-accent;
}

nav {
  padding-top: 1%;
 }

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding-bottom: 1%;
  // padding-left: 2%;
} 

nav ul li a {
  color: $body-font-color;
  font-size: 1.3em;

}


 
/** Removes black background on menu bar **/

 
/** Removes black background on menu item **/





